version: '3'
services:
  web:
    build: './web'
    ports:
      - "3000:3000"
    volumes:
      - .:/usr/src/app/:rw
    environment:
      - NODE_ENV=dev
    command: >
      sh -c '
        if test -d node_modules; 
        then 
          echo node_modules_exists ; 
        else 
          cp -a /tmp/node_modules /usr/src/app/website; 
        fi && 
        npm install &&
        npm start &&
        /usr/local/bin/node ./index.js
      '

  # server:
  #   build: './server'
  #   ports:
  #     - "3001:3001"
  #   depends_on: 
  #     - db
  #   environment:
  #     - MONGO_DB_URI=mongodb://db/hexa

  # db:
  #   image: mongo
  #   ports:
  #     - "27017:27017"
